{% macro list_fields(node, prefix) %}
  {% for field in node.fields %}
    <li><a
        data-field="{{ field.name|apply_prefix(prefix, 'fv_') }}"
        data-select="{{ field.name|apply_prefix(prefix, 'fo_') }}"
        id="filter-{{ field.name|apply_prefix(prefix, 'fo_') }}"
        href="#">{% if prefix %}{{ ' / '.join(prefix) }} / {% endif %}{{ field.name }}</a>
    </li>
  {% endfor %}
  {% for child_prefix, child in node.children.items() %}
    {{ list_fields(child, prefix + [child_prefix]) }}
  {% endfor %}
{% endmacro %}


  <a href="#" data-dropdown="drop1" class="button dropdown">Add filter... &raquo;</a><br>
<ul id="drop1" data-dropdown-content class="f-dropdown">
   <li><a href="#"> {{ list_fields(field_tree, []) }} </a> </li>
</ul>


