<section class="row" id="pagination">
 <div class="large-3 large-centered columns">
  <ul class="pagination">
    {% if query.get_page() > 1 %}
      <li class="arrow"><a href="./?{{ update_querystring(request.query_string, 'page', query.get_page() - 1) }}">&laquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a href="#">&laquo;</a></li>
    {% endif %}
<li class="unavailable"><a href="">&hellip;</a></li>
    {% if query.get_pages() > query.get_page() %}
      <li class="next"><a href="./?{{ update_querystring(request.query_string, 'page', query.get_page() + 1) }}">&raquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a href="#">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
    </section>
